html {
  background-image: url("https://static.pexels.com/photos/257840/pexels-photo-257840.jpeg");
  background-size: cover;
}

body {
  font-family: 'PT Serif', serif;
  font-size: 28pt !important;
  margin: 0px;
}

#hannah {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  max-width: 600px;
  height: 100vh;
}

#vader {
  padding-top: 90px;
  text-align: center;
  color: white;
}

#topbar {
  width: 100%;
  max-height: 58px;
  background-color: rgba(255, 255, 255, 0.95);
}

#luke {
  text-align: center;
  font-weight: 600;
  color: #6c173d;
  margin-bottom: 13px;
}

#bob {
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 13pt;
  padding-left: 12px;
  padding-right: 12px;
}
